<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Tests">
        <classes>
            <class name="co.com.sofka.runner.AlertsTest"/>
            <class name="co.com.sofka.runner.DatePickerTest"/>
            <class name="co.com.sofka.runner.FormTest"/>
            <class name="co.com.sofka.runner.SortableListTest"/>
        </classes>
    </test>
</suite>
